<p class="announcement-text"><strong>The organizing committees of two co-located events, ICCSTE'18 and <a class="body-link" target="_blank" href="https://rtese.com/">RTESE'18</a>, have decided to allow registrants of either conference to attend sessions from both events.</strong> As a result, we encourage attendees to study the program for both conferences and attend the sessions which they may find relevant/interesting.<br>

For more information about the ICCSTE'18 Conference, please view the <a class="body-link" target="_blank" href="/ICCSTE18_RTESE18_CFP.pdf">Conference Flyer</a>.</p>
<br>